matrix:
  include:
    - script:
        - xcodebuild test -scheme Result-Mac
        - xcodebuild test -scheme Result-iOS -sdk iphonesimulator -destination "name=iPhone SE"
        - xcodebuild test -scheme Result-tvOS -sdk appletvsimulator -destination "name=Apple TV 1080p"
        - xcodebuild build -scheme Result-watchOS -sdk watchsimulator
        # - pod lib lint
      env: JOB=Xcode
      os: osx
      osx_image: xcode8
      language: objective-c
    - script:
        - swift build
        - swift test
      env: JOB=SPM
      os: osx
      osx_image: xcode8
      language: objective-c
    - script:
        - swift build
        - swift test
      env: JOB=Linux
      sudo: required
      dist: trusty
      language: generic
      install:
        - eval "$(curl -sL https://gist.githubusercontent.com/kylef/5c0475ff02b7c7671d2a/raw/9f442512a46d7a2af7b850d65a7e9bd31edfb09b/swiftenv-install.sh)"
notifications:
  email: false
